In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
file_path = "/Users/sambrown04/Documents/570/Market_Regime/sp-500-historical-data/versions/1/SPX.csv"
df = pd.read_csv(file_path)

In [29]:
# Cut data to when volume started to be tracked
df = df[df['Volume'] != 0]

In [64]:
# daily return %
df['Daily_Return_%'] = df['Close'].pct_change() * 100

#20 day simple moving average (SMA_20)
df['SMA_20'] = df['Close'].rolling(20).mean()

# SMA_50
df['SMA_50'] = df['Close'].rolling(50).mean()

# Volatility 20 day window
df['volatility_20'] = df['Close'].pct_change().rolling(20).std() * 100

#EMA 12 and 26, weight applied to price nth step back is alpha(1-alpha)^n
df["EMA_12"] = df["Close"].ewm(span=12, adjust=False).mean()
df["EMA_26"] = df["Close"].ewm(span=26, adjust=False).mean()

# MACD and signal line
# This measures the "momentum". Price from smaller window back minus price based on larger window back
# Signal line measure the change of this acceleration 
df["MACD"] = df["EMA_12"] - df["EMA_26"]
df["Signal_Line"] = df["MACD"].ewm(span=9, adjust=False).mean()

In [66]:
df.head(51)

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return_%,SMA_20,SMA_50,volatility_20,EMA_12,EMA_26
5496,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000,NaN,NaN,NaN,NaN,16.660000,16.660000
5497,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000,1.140456,NaN,NaN,NaN,16.689231,16.674074
5498,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000,0.474777,NaN,NaN,NaN,16.726272,16.693032
5499,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000,0.295334,NaN,NaN,NaN,16.765307,16.714288
5500,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000,0.588928,NaN,NaN,NaN,16.813722,16.741378
5501,1950-01-10,17.030001,17.030001,17.030001,17.030001,17.030001,2160000,-0.292734,NaN,NaN,NaN,16.846995,16.762758
5502,1950-01-11,17.090000,17.090000,17.090000,17.090000,17.090000,2630000,0.352314,NaN,NaN,NaN,16.884381,16.786998
5503,1950-01-12,16.760000,16.760000,16.760000,16.760000,16.760000,2970000,-1.930954,NaN,NaN,NaN,16.865245,16.784998
5504,1950-01-13,16.670000,16.670000,16.670000,16.670000,16.670000,3330000,-0.536993,NaN,NaN,NaN,16.835207,16.776480
5505,1950-01-16,16.719999,16.719999,16.719999,16.719999,16.719999,1460000,0.299934,NaN,NaN,NaN,16.817483,16.772296
5506,1950-01-17,16.860001,16.860001,16.860001,16.860001,16.860001,1790000,0.837333,NaN,NaN,NaN,16.824024,16.778793
5507,1950-01-18,16.850000,16.850000,16.850000,16.850000,16.850000,1570000,-0.059318,NaN,NaN,NaN,16.828021,16.784067
5508,1950-01-19,16.870001,16.870001,16.870001,16.870001,16.870001,1170000,0.118700,NaN,NaN,NaN,16.834479,16.790433
5509,1950-01-20,16.900000,16.900000,16.900000,16.900000,16.900000,1440000,0.177825,NaN,NaN,NaN,16.844559,16.798549
5510,1950-01-23,16.920000,16.920000,16.920000,16.920000,16.920000,1340000,0.118343,NaN,NaN,NaN,16.856165,16.807545
5511,1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1250000,-0.354604,NaN,NaN,NaN,16.856756,16.811431
5512,1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1700000,-0.711750,NaN,NaN,NaN,16.838793,16.806140
5513,1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1150000,-0.059737,NaN,NaN,NaN,16.822056,16.800500
5514,1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1250000,0.537956,NaN,NaN,NaN,16.821739,16.801944
5515,1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1640000,1.189061,16.8670,NaN,NaN,16.852241,16.818096
5516,1950-01-31,17.049999,17.049999,17.049999,17.049999,17.049999,1690000,0.176257,16.8865,NaN,0.693302,16.882665,16.835274
5517,1950-02-01,17.049999,17.049999,17.049999,17.049999,17.049999,1810000,0.000000,16.8965,NaN,0.650355,16.908409,16.851180
5518,1950-02-02,17.230000,17.230000,17.230000,17.230000,17.230000,2040000,1.055724,16.9115,NaN,0.682011,16.957885,16.879241
5519,1950-02-03,17.290001,17.290001,17.290001,17.290001,17.290001,2210000,0.348236,16.9270,NaN,0.682951,17.008979,16.909667
5520,1950-02-06,17.320000,17.320000,17.320000,17.320000,17.320000,1490000,0.173505,16.9390,NaN,0.673314,17.056829,16.940062
5521,1950-02-07,17.230000,17.230000,17.230000,17.230000,17.230000,1360000,-0.519630,16.9490,NaN,0.681642,17.083470,16.961539
5522,1950-02-08,17.209999,17.209999,17.209999,17.209999,17.209999,1470000,-0.116082,16.9550,NaN,0.679134,17.102936,16.979944
5523,1950-02-09,17.280001,17.280001,17.280001,17.280001,17.280001,1810000,0.406752,16.9810,NaN,0.500157,17.130177,17.002170
5524,1950-02-10,17.240000,17.240000,17.240000,17.240000,17.240000,1790000,-0.231487,17.0095,NaN,0.482287,17.147073,17.019787
5525,1950-02-14,17.059999,17.059999,17.059999,17.059999,17.059999,2210000,-1.044089,17.0265,NaN,0.551766,17.133677,17.022766
5526,1950-02-15,17.059999,17.059999,17.059999,17.059999,17.059999,1730000,0.000000,17.0365,NaN,0.524121,17.122342,17.025524
5527,1950-02-16,16.990000,16.990000,16.990000,16.990000,16.990000,1920000,-0.410311,17.0435,NaN,0.534118,17.101982,17.022892
5528,1950-02-17,17.150000,17.150000,17.150000,17.150000,17.150000,1940000,0.941730,17.0575,NaN,0.570729,17.109369,17.032308
5529,1950-02-20,17.200001,17.200001,17.200001,17.200001,17.200001,1420000,0.291551,17.0725,NaN,0.572279,17.123312,17.044730
5530,1950-02-21,17.170000,17.170000,17.170000,17.170000,17.170000,1260000,-0.174424,17.0850,NaN,0.575241,17.130495,17.054009
5531,1950-02-23,17.209999,17.209999,17.209999,17.209999,17.209999,1310000,0.232959,17.1025,NaN,0.567095,17.142726,17.065564
5532,1950-02-24,17.280001,17.280001,17.280001,17.280001,17.280001,1710000,0.406752,17.1295,NaN,0.536721,17.163846,17.081448
5533,1950-02-27,17.280001,17.280001,17.280001,17.280001,17.280001,1410000,0.000000,17.1570,NaN,0.535597,17.181716,17.096156
5534,1950-02-28,17.219999,17.219999,17.219999,17.219999,17.219999,1310000,-0.347234,17.1770,NaN,0.539560,17.187605,17.105329
5535,1950-03-01,17.240000,17.240000,17.240000,17.240000,17.240000,1410000,0.116150,17.1880,NaN,0.477313,17.195666,17.115305
5536,1950-03-02,17.230000,17.230000,17.230000,17.230000,17.230000,1340000,-0.058005,17.1970,NaN,0.477322,17.200948,17.123801
5537,1950-03-03,17.290001,17.290001,17.290001,17.290001,17.290001,1520000,0.348236,17.2090,NaN,0.481596,17.214649,17.136112
5538,1950-03-06,17.320000,17.320000,17.320000,17.320000,17.320000,1470000,0.173505,17.2135,NaN,0.423562,17.230857,17.149733
5539,1950-03-07,17.200001,17.200001,17.200001,17.200001,17.200001,1590000,-0.692835,17.2090,NaN,0.445402,17.226110,17.153457
5540,1950-03-08,17.190001,17.190001,17.190001,17.190001,17.190001,1360000,-0.058140,17.2025,NaN,0.442970,17.220554,17.156164
5541,1950-03-09,17.070000,17.070000,17.070000,17.070000,17.070000,1330000,-0.698086,17.1945,NaN,0.454847,17.197392,17.149781
5542,1950-03-10,17.090000,17.090000,17.090000,17.090000,17.090000,1260000,0.117165,17.1885,NaN,0.455935,17.180870,17.145353
5543,1950-03-13,17.120001,17.120001,17.120001,17.120001,17.120001,1060000,0.175547,17.1805,NaN,0.447015,17.171506,17.143475
5544,1950-03-14,17.250000,17.250000,17.250000,17.250000,17.250000,1140000,0.759340,17.1810,NaN,0.479079,17.183582,17.151366
5545,1950-03-15,17.450001,17.450001,17.450001,17.450001,17.450001,1830000,1.159426,17.2005,17.0662,0.478738,17.224569,17.173487
5546,1950-03-16,17.490000,17.490000,17.490000,17.490000,17.490000,2060000,0.229221,17.2220,17.0828,0.478605,17.265405,17.196932